body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:16px;
}
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align:center;
}
.logo img {
  height: 70px;
  margin:20px;
}
.media a{
  color:#333;
}
.media p a:hover{
  text-decoration:none
}
.media-object {
  width:160px;
}
h2 {
  margin-bottom:20px;
}
.footer {
  margin-top:20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
@media(min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media(max-width: 767px) {
  .navbar-nav {
    margin:0px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
}
a {
  color:#0071C6;
}
.navbar-nav>li {
  float:none;
}
.navbar-default {
  background-color: #0072C6;
  border-color: #3479B9;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #0058AA;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #0066B8;
}
.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret,
.navbar-default .navbar-nav>.dropdown>a .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}