body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo img {
  float:left;
  width: 170px;
  height: 100px;
  margin-bottom:20px;
}
.logo p {
  float:left;
  font-size:16px;
  color:#aaa;
  margin:10px 0px 0px 10px;
}
.logo p b{
  color:#666;
}
.nav {
}
.media-object {
  width:160px;
}
/* Custom page footer */
.footer {
  margin-top:20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media(min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
a {
  color:#0071C6;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #0071C6;
}